@import './colors';

html {
  font-size: 62.5%;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#app {
  background-color: tint($tomato, 95%);
}

main {
  height: 100%;
}
